<!-- Navigation bar to other pages -->
<div class="topnav">
    <a href="/">Home</a>
    <a href="/departments">Add/Edit Departments</a>
    <a href="/doctors">Add/Edit Doctors</a>
    <a href="/medications">Add/Edit Medications</a>
    <a href="/patients">Add/Edit/Search Patients</a>
    <a href="/medpatients">Connect a Medication to a Patient</a>
</div>