<!-- Navigation bar to other pages -->
<div class="topnav">
    <a href="/">Home</a>
    <a href="/reads/departments">Add/Edit Departments</a>
    <a href="/reads/doctors">Add/Edit Doctors</a>
    <a href="/reads/medications">Add/Edit Medications</a>
    <a href="/reads/patients">Add/Edit/Search Patients</a>
    <a href="/reads/medpatients">Connect a Medication to a Patient</a>
</div>