<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{title}} </title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {{!-- http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js --}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>
