<p>Departments</p>

<p>Create a department</p>
        <label for="departmentName">Department Name</label>
        <input type="text" id="departmentName" name="departmentName">
        <label for="capacity">Capacity</label>
        <input type="number" id="capacity" name="capacity">
        <br>
        <button>Add a new department</button>
{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<table id="Departments">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.departmentID}}</td>
            <td>{{this.departmentName}}</td>
            <td>{{this.capacity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>