{{> header }}

<!-- index.hbs -->
<h1>Welcome to the ER Database</h1>
<h2>Select an option below</h2>
<a href="/">Home</a>
<br>
<a href="/reads/departments">Add/Edit Departments</a>
<br>
<a href="/reads/doctors">Add/Edit Doctors</a>
<br>
<a href="/reads/medications">Add/Edit Medications</a>
<br>
<a href="/reads/patients">Add/Edit/Search Patients</a>
<br>
<a href="/reads/medpatients">Connect a Medication to a Patient</a>