{{> header }}

<!-- index.hbs -->
<h1>Welcome to the ER Database</h1>
<h2>Select an option below</h2>
<a href="/">Home</a>
<br>
<a href="/departments">Add/Edit Departments</a>
<br>
<a href="/doctors">Add/Edit Doctors</a>
<br>
<a href="/medications">Add/Edit Medications</a>
<br>
<a href="/patients">Add/Edit/Search Patients</a>
<br>
<a href="/medpatients">Connect a Medication to a Patient</a>