{{> header }}
<p>Available Medications at ER Hospital</p>
<script src="/static/js/deleteMedication.js"></script>

    <form id="add-medication-form" method="POST" action="/creates/add-medication-form">

        <fieldset>
            <legend>Create a Medication</legend>
            <label for="medName">Medication Name</label>
            <input type="text" id="medName" name="medName">
            <input type="submit">
        </fieldset>
    </form>

<table id="Medications">

    <thead>

        <tr>
            <th>Medication ID</th>
            <th>Medication Name</th>
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.medID}}</td>
            <td>{{this.medName}}</td>
            <td><button onclick="deleteMedication({{this.medID}})">Delete</button></td>
            <td>
                <a href="/reads/singleMedication/{{this.medID}}">
                    Update
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>